*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'sans-serif';
    padding: 10em 10em;
    background-color: rgb(144, 238, 205);
    display: flex;
    align-items: center;
    justify-content: center;

}
.container{
    width: 500px;
    height: 400px;
    border-radius: 31px;
    background: #ffffff;
    box-shadow:  -5px -5px 0px #fcfcfc,
                5px 5px 0px #ffffff;
    padding: 50px;
    
    line-height: 1.5;            
    transform: translateY(-5%);         
    transition: transform 0.05s; 
    
}

.container h1{
    font-size: 1.5rem;
    text-align: center;

}

.container h2{
    font-size: 1rem;
    margin-top: 20px;
}

.input input{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    position: relative;
    font-size: 1rem;
    padding: 10px;


}
.container p {
    font-size: 1.2rem;
    margin-top: 20px;

}